/* *************** Selector- Element ******** */
body {
	margin: 0;
	padding: 0;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background: #f5f2fd;
	min-width: 1004px;
}

a {text-decoration: none;}
	a:hover, a:active {text-decoration: underline;}

img, a img {border: none;}

input {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	color: navy;
}/*
select {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #111;
}
*/
textarea {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #111;
}

table {
	background-color: #CCCCFF;
	border-spacing: 1;
	cellpadding:3;
	cellspacing:1;
	border:8;
	color : #000000;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	}
table tr th {
	vertical-align: top;
	text-align: center;
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	}
table tr td {
	vertical-align: top;
	text-align: center;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	}
.tableLastRow {
	border-collapse: collapse;
	background-color:#D8BFD8;
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

tr.spaceUnderMedium > td
{
  padding-bottom: 6em;
}

tr.spaceUnderSmallNoWrap > td
{
  padding-bottom: 2em;
  white-space: nowrap;
}
tr.spaceUnderSmall > td
{
  padding-bottom: 2em;
}
tr.spaceTopSmall > td
{
  padding-top: 1em;
}
tr.nowrap > td
{
  white-space: nowrap;
}
select {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
color : #000000;
background-color : #F0F8FF;
font-weight: normal; 
background: #F0F8FF; 
scrollbar-base-color: Cyan; 
scrollbar-face-color:577C9E; 
scrollbar-shadow-color:#E5DFBF; 
scrollbar-highlight-color:#E5DFBF; 
scrollbar-3dlight-color:#336699; 
scrollbar-darkshadow-color:DarkBlue; 
scrollbar-track-color:#E5DFBF; 
scrollbar-arrow-color:#E5DFBF; 
}
/* *************** Selector- id (specific/unique element on a page) ******** */
#formAction
{
text-align:center;
color:red;
align="left";
}



/* *************** Selector- class (The class selector is used to specify a style for a group of elements) ******** */

.center {text-align:center;} 

.calendarContentTable  {
	width: 120;
	align: CENTER; 
	border:0;
	cellpadding: 1;
	cellspacing:0;
	background-color: #00FF33;
	}
	
.headerTable {
	border:"0"; width:100%; cellpadding:0; cellspacing:0;
	background-color:#fffbfd;
}

.headerTableRowData {
	text-align: center;
	background-color:#6699CC;
	font: 15px Verdana, Arial, Helvetica, sans-serif;
	color: black;
	width: 25%;
}

.eventheaderTableRowData{
	text-align: center;
	background-color:#99CCCC;
	font: 15px Verdana, Arial, Helvetica, sans-serif;
	color: black;
	width: 25%;
}

.headerTableRowDataLink {
	color: black;
	font: 16px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.separatorThin {
border-style:dotted solid dashed; 
border-width:1px;
border-color:#FFbf21;
}
.separatorMedium {
border-style:dotted solid dashed; 
border-width:3px;
border-color:#98bf21;
}
tr.separatorThick  > td {
	border-style: dotted; 
	border-color: #98bf21;
	border-width: 1px;
	background-color: #FFFFFF;
	padding-bottom: 0em;
}

.locationLink {
	background-color:#fffbfd;
	font: 15px Verdana, Arial, Helvetica, sans-serif;
	background-color:#FF9999;
}

.locationTableRow {
	border-collapse: collapse;
	background-color:#00FF99;
	border-spacing: 0;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}


.locationData {
	/* background-color: #229900; */
	font: 13px Verdana, Helvetica, sans-serif;
	}
.mandatoryFields {
	font: 13px Verdana,bold, Helvetica, sans-serif;
	color: black;
	}	
.tablerowButton{
	font: 13px Verdana, bold, Helvetica, sans-serif;
	background-color:CornflowerBlue;
	border-spacing: 0;
}
.tableDataEdit{
    background-color: #FFFFFF;
    border-spacing: 1px;
    font: 11px Verdana,Arial,Helvetica,sans-serif;
    border-style:solid; 
	border-width:0px;
	border-color:#005655;
	cellpadding:3;
	cellspacing:3;
}
.tableSplBorder {
	border-width: 8px;
	cellpadding: 5px;
	cellspacing: 2px;
	border: 8px
}

.button{
     padding-top: 0;
         margin-right: 3px;
    vertical-align: bottom;
   color: #FFFFFF;
   font-size: 0.9em;
   font-family: Arial,Helvetica,sans-serif;
}

input.btn, select.btn {
	/*
    color: #005500;
    font: 14px Verdana,bold, Helvetica, sans-serif;
    background-color: #FFEEDD;
    border: 1px solid #FFFFFF;  
    */
	color: #000000;
	font: 14px Verdana, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
    background: url(../images/bg-month-name1.jpg);
}
.btnFeel{
	color: #000000;
	font: 14px Verdana, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
    background: url(../images/bg-month-name1.jpg);
}
