body {
	margin: 0;
	padding: 0;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	background: #e0e0e2;
	width: 277px;
}

a {text-decoration: none;}
	a:hover, a:active {text-decoration: underline;}

img, a img {border: none;}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	}
	table tr td {vertical-align: top;}
	
.dataSet table {
	width: 277px;
	}
	.dataSet table td {
		padding: 4px 0 4px 9px;
		border-bottom: 1px solid #aeaeae;
		color: #3c3c3c;
		}
		.dataSet table td strong {color: #900;}
		
/* Alerts Styling */
#rtAlerts col#alertDate {width: 147px;}
#rtAlerts col#alertExplanation {width: 130px;}
#rtAlerts table td a {
	color: #900;
	font-weight: bold;
	}
